<pre><center><img src=https://clubssh.com/assets/img/roket.png data-original-height=120 data-original-width=120 height=320 width=320 /></a></center><br><center><font color=red size=50> SETUP BY: MAMANG WOII</b></font></center><center><br><font color=blue size=50> WA: 081265145723</b></font></center></pre>
